<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyd.postuciapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PatientActivity">

        </activity>

        <activity android:name=".activity.MedicActivity">

        </activity>

        <activity android:name=".activity.TestIntroductionActivity">

        </activity>

        <activity android:name=".activity.TestEscalaImpactoEventoActivity">

        </activity>

        <activity android:name=".activity.TestHadActivity">

        </activity>

        <activity android:name=".activity.PendingTestsActivity">

        </activity>

        <activity android:name=".activity.ContactActivity">

        </activity>

        <activity android:name=".activity.PatientDetailsActivity">

        </activity>

        <activity android:name=".activity.UsefulInfoActivity">

        </activity>
    </application>

</manifest>